[Unit]
 Description=Network Monitor Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/pi/projects/monitor3/monitor.py > /home/pi/logs/monitor.log 2>&1

 [Install]
 WantedBy=multi-user.target

